body{
    margin: 0px;
    border: 0px;
    font-family: "Roboto", sans-serif;
    color: #251b92;
    background: url("../images/backcover.svg");
    background-position: right;
    background-size: 79%;
    background-repeat: no-repeat;
    overflow-x: hidden ;
}

.main-div nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 6%;
    margin-right: 7%;
}

.m-logo{
    display: none;
}

.intro-section {
    display: flex;
    flex-direction: row;
}

.nav-items {
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 1rem;
    /* padding-right: 0rem; */
}

.nav-item{
    padding: 1rem;
    justify-content: space-around;
    padding-right: 4rem;
}


h4{
    margin-right: 62%;
    margin-top: 3rem;
    margin-left: 9%;
    font-weight: lighter;
    color: darkblue;
}

.left-section {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 68vh;
}

h1{
    margin-top: 6rem;
    margin-left: 2rem;
    font-size: 4rem;
    color: darkblue;
}

h5{
    color: darkblue;
}

.signin-btn{
    background: linear-gradient(to right, #aa46fc, #ff70a7);
    color: white;
    border: none;
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
}

.learn-more-btn {
    background: linear-gradient(to right, #aa46fc, #ff70a7);
    color: white;
    border: none;
    width: 10rem;
    height: 2.8rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 9%;
    padding: 1rem;
    padding-top: -1rem;
}


.imgs-div {
    width: 70%;
    margin-right: 110px;    
}

.vector-dot{
    
    margin-top: -8rem;
    margin-left: 3.3rem;
    position: absolute;
}

.vector-into-img{
    margin-right: 140px;
    width: 85%;
}

.vector-img{
    margin-right: 250px;
    margin-top: -9rem;
    position: absolute;
}


@media screen and (min-width:300px) and (max-width:800px) {
    
    .intro-section {
        flex-direction: column-reverse;
    }

    .main-div{
        display: none;
    }

    .m-logo{
        display: unset;
        margin-left: 40%;
    }

    .m-logo > img{
        margin-top: 3rem;
        filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
        saturate(600%) contrast(1);
    }

    .imgs-div{
        margin-top: 3rem;
    }

    body{
        background: none;
    }

    .left-section{
        margin-top: -4rem;
    }

    h4{
        width: 100%;
        margin-top: 0rem;
    }

    .imgs-div {
        width: 90%;
        margin-right: 10px;
        margin-left: 6rem;    
    }

    h1{
        margin-bottom: 1rem;
    }
}
